body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    background: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Color de texto gris oscuro */
}

#data-list {
    display: flex;
    flex-direction: column;
}

.data-item {
    background: #f9f9f9; /* Fondo gris muy claro */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Sombra más suave */
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.data-item:hover {
    background: #eaeaea; /* Fondo gris claro al pasar el cursor */
    transform: scale(1.05);
}

#detail-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    color: #333; /* Texto gris oscuro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s;
    transform: scale(0.9);
}

#detail-view.hidden {
    display: none;
}

#close-detail {
    background: #d9534f; /* Botón rojo suave */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 18px;
    align-self: flex-start;
}

.detail-content {
    width: 100%;
    max-width: 500px;
    background: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.detail-content p {
    margin: 5px 0;
}

.detail-content .label {
    font-weight: bold;
    color: #333; /* Texto gris oscuro */
}
